{% extends "signup_base.html" %}

{% block content %}
<h1>抱歉...</h1>

<p>...我们在这里阻止您因为您没有资格参加我们的项目。相信我们，这样更好。 我们只是不想让您花费数千美元，然后发现您已被列入黑名单和无法获得退款。 没什么可害您的！</p>

<p>以下是您不符合条件的一些可能原因：</p>
<ul>
	<li><b>您不得雇用外国人。</b> 这可能是因为您没有营业执照或者办学校办学许可证。</li><br>
	<li><b>您不致力于合法雇用。</b> 这可能是因为您不同意向外籍教师提供Z签证，是因为您不同意遵守劳动法，或者是因为您不想提供医疗保险。</li><br>
	<li><b>您希望合同期限少于一年。</b> 我们希望为您提供合同期至少一年的全职员工。</li><br>
	<li><b>您希望您的外国员工每天工作9个小时以上。</b> 我们了解，企业有时可能会要求员工加班，但是996种业务模式对员工不公平。 外国人习惯于每周工作40小时，加班要收加班费。</li><br>
	<li><b>你付不起外国老师的薪水。</b> 要获得B级工作签证的资格，外籍员工需要满足一定的薪水要求。 同意最低工资也表明您的经营真诚。</li><br>
	<li><b>您无法保证会按时向您的员工付款。</b></li><br>
	<li><b>您想用现金支付您的员工。</b> 现金支付是一个危险信号，暗示犯罪活动和逃税。</li><br>
	<li><b>您不想为您的外籍员工提供标准的福利待遇。</b> 这可能是因为您不想提供机票，住房或休假时间。</li><br>
	<li><b>您觉得双语合同不重要。</b></li><br>
	<li><b>您没有接受我们的使用条款。</b></li><br>
</ul>

<p>如果您认为有误，请点击<a href="{{ url_for('signup.screen_china_employer') }}">此处</a>再次填写筛选表。</p>
<p>否则，我们看到您离开很伤心，并祝您找到一位外国老师顺利。 谢谢您的理解。</p>

{% endblock %}
