{% extends "signup_base.html" %}

{% block content %}
<h1>We're Sorry...</h1>

<p>...but we're stopping you here because you don't qualify for our program. Trust us, it's better this way. We just don't want you to spend thousands of dollars and then find out that we won't reimburse your expenses. Nothing against you personally!</p>

<p>Here are some possible reasons why you don't qualify:</p>
<ul>
	<li><b>You reported a health issue.</b> We appreciate your forthrightness here. Please take a look at the <a href="https://www.visaforchina.org/MEL_EN/upload/Attach/mrbj/275119.pdf">form</a> and see if you have any of those ailments. If you believe you can pass that physical exam, go to the <a href="{{ url_for('signup.screen_usa_applicant') }}">screening page</a> again and answer "I'm in good health" when prompted. If you do have one or more of those ailments, you unfortunately don't qualify for our program.</li><br>
	<li><b>You're not a US citizen.</b> Visa procedures are country-specific. We are currently only accepting applicants from the US because that's our area of expertise. We do have plans to expand our services to other English-speaking countries in the near future, though, so stay tuned.</li><br>
	<li><b>You don't have a college degree.</b></li><br>
	<li><b>You have a criminal record.</b></li><br>
	<li><b>You don't have two years of work experience.</b></li><br>
	<li><b>You can't commit to a one-year contract.</b> Employers are spending a lot of money to get you over to China, so it would be unfair to them if you didn't stick it out for at least a year.</li><br>
	<li><b>You're aware of something that might prevent you from getting a visa.</b> We're trying our best, but we can't think of every single possibility. Be mindful that China has a different government than the US, so by living there, you will lose some of your rights. For example, China is not the place for you if you enjoy using drugs, organizing protests, participating in protests, converting people to your religion, making maps, snooping around places you're not supposed to be, or criticizing the Chinese government. You know your life better than we do, so it's a judgement call on your part.</li><br>
	<li><b>You didn't accept our terms.</b> Guess we'll just have to agree to disagree, eh?</li>
</ul>

<p>If you believe there was a mistake, click <a href="{{ url_for('signup.screen_usa_applicant') }}">here</a> to complete the questionnaire again.</p>
<p>Otherwise, we're sorry to see you go and we wish you all the best. Thank you for understanding.</p>
{% endblock %}
