{% extends "signup_base.html" %}

{% block content %}
<h1>Terms</h1>
<p>By signing up for our service, we agree to help you find a job teaching English in China. We make no guarantees of employment.</p>
<p>We will guide you through the work visa application process. To begin, you will need to pay all application costs yourself.</p>
<p>To be reimbursed in the future, you must:</p>
<ul>
	<li>Submit receipts to us through our website's submission forms;</li>
	<li>Receive your work visa;</li>
	<li>Receive a job offer from a Chinese company;</li>
	<li>Go to China and begin working at said Chinese company.</li>
</ul>
<p>Failure to follow any of these steps may result in you not receiving a reimbursement.</p>
<p>We will not reimburse the following expenses:</p>
<ul>
	<li>Ticket to China: this will be reimbursed by your employer when you arrive. This is a contractual obligation, so please tell us if they do not do this.</li>
	<li>Personal expenses, such as VPN subscription and passport renewal.</li>
	<li>Other expenses that do not have specified receipt submission forms.</li>
</ul>
<p>We have a screening form that you must fill out before you can sign up. This screening form is designed to reduce the risk of your application being denied by identifying common reasons for application denial. If you do not fill out the screening form, you will not be able to make an account with us. By extension, if you sign up for an account, you have told us that:</p>
<ul>
	<li>You are a citizen of the United States of America.</li>
	<li>You have a bachelor's degree (4-year degree) or higher.</li>
	<li>You don't have a criminal record.</li>
	<li>You believe you can pass a medical examination.</li>
	<li>You have two years of work experience after graduation.</li>
	<li>You can commit to a 1-year contract.</li>
	<li>You agree that you will not be reimbursed if your application is denied.</li>
	<li>There is no reason you think your visa application will be denied.</li>
</ul>

<h1>Data Policy</h1>
<p>Here's how we use the data we collect:</p>
<ul>
	<li><b>FIRST NAME, LAST NAME.</b> 
		<ol>
			<li>We use this to identify you.</li>
			<li>We use this to personalize our contact with you.</li>
			<li>We will sell this to Chinese employers so they can contact you and offer you a job.</li>
			<li>We ask affiliates for this information to verify that they recruited you.</li>
		</ol>
	</li><br>
	<li><b>EMAIL.</b>
		<ol>
			<li>We use this as your username so that you can sign in to our site and use our services.</li>
			<li>We will use this to contact you if needed.</li>
			<li>We will send this to Chinese employers so they can contact you and offer you a job.</li>
			<li>We ask affiliates for this information to verify that they recruited you.</li>
		</ol>
	</li><br>
	<li><b>CELL NUMBER.</b> 
		<ol>
			<li>We acknowledge that we are dealing with some <i>very</i> sensitive data. We use two-factor authentication (2FA) to provide an extra layer of security on your account. If you attempt to log in, we will text you a code to enter so we know it's you. That way, hackers have to know your email address, know your password, *and* steal your phone to gain access to your account.</li>
			<li>We ask affiliates for this information to verify that they recruited you.</li>
		</ol>
	</li><br>
	<li><b>HOME STATE.</b> Chinese embassies have different jurisdictions. We use this to figure out which forms to have you fill out and where you should send your application materials. California is divided into two jurisdictions, so we clarify which county you're from for the same reason.</li><br>
	<li><b>HOME CITY, HOME STATE, HOME ZIP.</b> We use this for our own internal analytics. Specifically, we use this to observe where our applicants are coming from. We use this to make informed decisions about where we should hire more recruiters and possible strategies we could use to get more applicants.</li>
</ul>
{% endblock %}
