<p>Hi, {{ first_name }}! Welcome to Day 23.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Reviewed and uploaded your resume.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
	<li>Completed and printed your Job Description form.</li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Look for a job!</li>
</ul>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities! No pressure, but we're expecting you to find a job in the next <b>2</b> days.</p>
<p>Read <a href="{{ url_for('usa_applicant.info_contract') }}">this</a> before you sign a contract.</p>

<p>Beep boop,<br/>
Rover the Robot</p>