<p>Hi, {{ first_name }}! Welcome to Day 21.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Reviewed and uploaded your resume.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
</ul>

<p>Different states are serviced by different Chinese consulates and embassies. Your state is serviced by the <b>San Francisco</b> consulate, which requires applicants to submit an employment letter.</p>
<p>This letter must be from your employer and on a company letterhead. It must state that (1) your trip is not related to your job in the USA, and (2) you will resume working when you return home from China. It must also be signed and dated.</p>

<p>If you have secured a job in China, <b><u>DO NOT</b></u> use that information to fill out this form. Due to time constraints and logistics, you are currently applying for a tourist visa. Your employer must file paperwork with the authorities before you can apply for a work visa. You are not allowed to work in China before you get a work visa. If you say that you are going to work in China on a tourist visa, your visa application will likely be denied.</p>
<p>If you don't submit this, the assumption is that you are unemployed. In the best case scenario, this may complicate your application process (e.g. you may have to produce bank statements proving that you can financially support yourself in China). In the worst case scenario, it may result in your application being denied (because they assume you are going to China to work illegally). We recommend that you find a way to fill out this form, even if you are unemployed.</p>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Request an Employment Letter from your employer. <a href="https://www.mychinavisa.com/LiteratureRetrieve.aspx?ID=205344">Here</a> is an example if you'd like.</li>
	<li>You have 2 days to complete this task. When you obtain your letter, print it out and place it with your other application materials.</li>
</ul>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities! No pressure, but we're expecting you to find a job in the next <b>4</b> days.</p>
<p>Read <a href="{{ url_for('usa_applicant.info_contract') }}">this</a> before you sign a contract.</p>

<p>Beep boop,<br/>
Rover the Robot</p>