<p>Hi, {{ first_name }}! Welcome to Day 30.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li>Sent your tourist visa application to CVSC.</li>
	<li>Completed your medical check.</li>
	<li>Booked your flight to China.</li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Wait to receive application materials back.</li>
	<li>Figure out what "wǒ shì měi guó rén" (我是美国人) means.</li>
	<li>If zhōng guó rén (中国人) means "Chinese", how would you say "I am Chinese"?</li>
</ul>


<p>If you're interested in buying some language-learning resources, please click <a href="{{ url_for('usa_applicant.get_language_resources') }}">here</a>. (We get a small commission if you use our link.)</p>
<p>Just <b>13</b> days until you leave for China! Getting excited?</p>

<p>Beep boop,<br/>
Rover the Robot</p>