<p>Nǐ hǎo, {{ first_name }}! Welcome to Day 41.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li>Booked your flight to China.</li>
	<li>Received letters of recommendation.</li>
	<li>Received your authenticated police clearance.</li>
	<li>Received your medical exam results.</li>
	<li>Received your authenticated diploma.</li>
	<li>Received your authenticated TEFL certification.</li>
	<li>Received your Chinese tourist visa.</li>
</ul>

<p>Chinese cyberspace is strictly controlled by the government. Any website that the Chinese government cannot control/censor is blocked in China. This includes Google services, social media sites, news sites, and blogging platforms. Learn more <a href="{{ url_for('usa_applicant.info_vpn' }}">here</a>.</p>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>This is buffer day 5/6. The world isn't perfect, and there are sometimes delays!</li>
	<li>Decide whether or not you want to get a VPN. If you use <a href="{{ url_for('usa_applicant.get_vpn') }}">our link</a>, we get a small commission. :)</li><br>
	<li>Learn about the <a href="https://www.youtube.com/watch?v=SqI3BCMIhJc">four tones</a> in Chinese. (Remember, you can't open a YouTube video in China without a VPN!)</li>
	<li>Find the meanings of the following words: mā (妈), má (麻), mǎ (马), and mà (骂). Why is it important to use correct tones when speaking Chinese?</li>
</ul>

<p>If you're interested in buying some language-learning resources, please click <a href="{{ url_for('usa_applicant.get_language_resources') }}">here</a>. (We get a small commission if you use our link.)</p>
<p>Just <b>二 (èr)</b> days until you leave for China! Getting excited?</p>

<p>Beep boop,<br/>
Rover the Robot (机器人罗孚)</p>