<p>Hi, {{ first_name }}! Welcome to Day 27.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li><b>Sent your tourist visa application to CVSC.</b></li>
</ul>

<p>You must undergo a medical check before you go to China. You can do this at any health care provider (e.g. hospital, urgent care).</p>
<p>It's normal for a government to ask you for a medical check if you're going to be staying there for an extended period of time. (People immigrating to the US have to do the same thing.)</p>
<p>Don't worry. Chances are you'll be fine. They are screening for contagious diseases that would endanger the general population, such as tuberculosis, HIV, and hepatitis.</p>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Download your Medical Packet <a href="{{ url_for('usa_applicant.get_medical_packet') }}">here</a>. Follow the instructions and fill out the appropriate fields.</li>
	<li>Go to a health care provider. Give them the instructions and the form.</li>
	<li>They will do an EKG to measure your heart rate. (Doesn't hurt.)</li>
	<li>They will do a blood test. If you're squeamish, tell the doctor beforehand so they can have you lay down.</li>
	<li>They will do a chest x-ray to evaluate your respiratory health. (Doesn't hurt.)</li>
</ul>

<p>Beep boop,<br/>
Rover the Robot</p>