<p>Hi, {{ first_name }}! Welcome to Day 29.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li>Sent your tourist visa application to CVSC.</li>
	<li>Completed your medical check.</li>
	<li><b>Booked your flight to China.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Wait to receive application materials back.</li>
	<li>Figure out what "nǐ hǎo, wǒ jiào {{ first_name }}" (你好，我叫{{ first_name }}) means in Chinese.</li>
</ul>

<p>Just <b>14</b> days until you leave for China! Getting excited?</p>

<p>Beep boop,<br/>
Rover the Robot</p>