<p>Hi, {{ first_name }}! Welcome to Day 1.</p>

<p>To teach English in China, you need to complete a 120-hour TEFL/TESOL course. TEFL stands for Teaching English as a Foreign Language, and focuses more on teaching non-native speakers in non-immersive environments (e.g. teaching English to Chinese speakers in China). TESOL stands for Teaching English to Speakers of Other Languages, and includes teaching non-native speakers in immersive environments (e.g. teaching English to Chinese speakers in the United States). While there is overlap between the two, we recommend TEFL because it is more applicable to your future position.</p>

<p>As a native speaker, you have impeccable pronunciation and an inherent feel for English syntax and grammar. (That's why Chinese parents want you to teach their child.) You know that "the Irish, big, old, pale man" sounds wrong, but you probably don't know why it has to be the "big, old, pale, Irish man." This course will help you with that. It will also teach you how to make lesson plans, deal with problem students, and make grammar lessons fun and engaging.</p>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Sign up for the ITTT 120-hour online TEFL course (no tutor). Use <a href="{{ url_for(usa_applicant.get_teaching_credential) }}">this link</a> to get a 30% discount.</li>
	<li>Complete <i>"Introductory Unit."</i></li>
	<li>Complete <i>"Unit 1: Teachers and Learners."</i></li>
</ul>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities!</p>
<p>Read <a href="{{ url_for(usa_applicant.info_contract) }}">this</a> before you sign a contract.</p>

<p>Beep boop,</br>
Rover the Robot</p>
