<p>Hi, {{ first_name }}! Welcome to Day 12.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li><b>Successfully completed the ITTT 120-hour online TEFL course.</b></li>
	<li><b>Ordered your TEFL certificate from ITTT.</b></li>
</ul>

<p>China has the six-month rule, which means that they will not permit entry unless the passport is set to expire at least six months after the final day of travel. We say 8 months to be on the safe side. Read more about the six-month rule <a href="https://www.fastportpassport.com/blog/six-month-validity-passport-rule/">here</a> and <a href="https://thepointsguy.com/2017/08/six-month-passport-validity-rule/">here</a>.</p>

<p>You need one passport page for the visa. China stamps your passport every time you enter and exit the country, so you need at least one passport page for that too. Two pages is cutting it kind of close, so if you are in doubt, it'd probably be best to get it replaced.</p>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Check your passport's expiration date. If it expires in less than 8 months, get it replaced. If there's less than a year left, you can get into China but you will not be able to have a one-year contract with your employer.</li>
	<li>Check how many blank visa pages you have. You need at least 2 blank visa pages. The last three pages are endorsement and amendment pages, so they cannot be used for visa stamps.</li>
	<li>If you need to get your passport replaced, we recommend using <a href="https://www.mychinavisa.com/passport-renewal">CVSC's passport renewal service</a>. (Just so you know, we do not get a commission for recommending their service to you.)</li>
	<li>If you have enough pages and enough time before your passport expires, you do not have to do anything.</li>
</ul>

<p>Please note that we don't offer discounts or reimbursement for passport renewal.</p>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities! No pressure, but we're expecting you to find a job in the next <b>13</b> days.</p>
<p>Read <a href="{{ url_for(usa_applicant.info_contract) }}">this</a> before you sign a contract.</p>

<p>Beep boop,<br/>
Rover the Robot</p>