<p>Hi, {{ first_name }}! Welcome to the program.</p>

<h2>IMPORTANT: Please verify that you have received this email <a href="{{ url_for(mail.checkpoint(1)) }}">here</a>. I won't send tomorrow's email if I don't receive verification.</h2>

<p>My name is Rover the Robot, and I'll be sending you daily emails to help keep you on track. These emails will give you instructions for what you need to do each day. To start receiving these emails, click the verification link above.</p>

<p>Before we begin, let's get some housekeeping items out of the way.</p>

<h1>The Process</h1>

<p>Here's the process in a nutshell:</p>
<ol>
	<li>You get your work visa application materials in order.</li>
	<li>You find a job in China.</li>
	<li>You apply for a tourist visa.</li>
	<li>You go to China.</li>
	<li>Your employer takes your work visa application materials and uses them to get you a work permit.</li>
	<li>You take your work permit to Hong Kong and apply for a work visa.</li>
	<li>You take your work visa back to China and apply for a residence permit.</li>
</ol>

<p>You may be wondering why we don't have you just apply for a work visa. The short answer is that it is much easier and cheaper to complete the work permit application process in China.</p>

<p>The long answer?</p>

<p>All of the documents that you procure for your work visa application have a six-month time limit on them. If you try to submit an authenticated police clearance that is more than 6 months old, for example, it will be rejected and you will have to go through that process again. That would be frustrating, wouldn't it?</p>

<p>Now imagine sending documents back and forth across the Pacific. If you use the cheap option, it will take your package 1-2 weeks to arrive (each way). If you use express shipping, it will get there in 3 days. Since you're using our service, we assume that (1) you are looking for a job, and (2) you are already paying thousands of dollars to get to China. Chances are you're not going to want to spend more money on express, cross-ocean shipping.</p>

<p>Now imagine how much time it takes to navigate Chinese bureaucracy and red tape. Need we say more?</p>

<p>We have designed our process to have you touch down in China 44 days after you sign up, if all goes to plan. This is so that you can communicate better with your employer, cut down on wait times, and not have your documents expire while you navigate red tape. You are not expected to work on a tourist visa; you are expected to be getting a work permit and work visa.</p>

<h1>Your Employer</h1>

<p>On all forms you submit to the Chinese embassy, you will be required to fill out some information about your current employer. If you are serviced by any of the following consulates, you will be required to submit additional documents relating to your current employer:</p>
<ul>
	<li><b>Houston Consulate: Job Description</b><ul>
		<li>Alabama</li>
		<li>Arkansas</li>
		<li>Florida</li>
		<li>Georgia</li>
		<li>Louisiana</li>
		<li>Oklahoma</li>
		<li>Mississippi</li>
		<li>Texas</li>
	</li></ul>
	<li><b>San Francisco Consulate: Employment Letter</b><ul>
		<li>Alaska</li>
		<li>Nevada</li>
		<li>Northern California</li>
		<li>Oregon</li>
		<li>Washington</li>
	</li></ul>
	<li><b>Washington DC Embassy: Employment Letter</b><ul>
		<li>Delaware</li>
		<li>Idaho</li>
		<li>Kentucky</li>
		<li>Maryland</li>
		<li>Montana</li>
		<li>Nebraska</li>
		<li>North Carolina</li>
		<li>North Dakota</li>
		<li>South Carolina</li>
		<li>South Dakota</li>
		<li>Tennessee</li>
		<li>Utah</li>
		<li>Virginia</li>
		<li>Washington DC</li>
		<li>West Virginia</li>
		<li>Wyoming</li>
	</li></ul>
</ul>

<p>You have signed up for our service to find a job, suggesting that you likely don't have an employer at the moment. If you answer that you are unemployed, your application may be delayed (e.g. you may have to provide bank statements proving that you can financially support yourself in China) or denied (e.g. they might think you intend to work illegally in China). This might put you in a difficult position.</p>

<p>When you find a teaching job in China, DO NOT list the Chinese school as your employer because you have not received your work visa yet. You have two weeks before you need to submit any applications to the Chinese embassy, so we recommend that you use this time to figure something out with your employer. We cannot guarantee that the Chinese embassy will not contact your employer to verify your claims of employment.</p>

<p>If you have problems or questions, feel free to email the humans <a href="{{ app.config['HELP_EMAIL'] }}">here</a>.</p>

<p>Beep boop,<br/>
Rover the Robot</p>