<p>Nǐ hǎo, {{ first_name }}! Welcome to Day 36.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li>Booked your flight to China.</li>
	<li>Received letters of recommendation.</li>
	<li>Received your authenticated police clearance.</li>
	<li>Received your medical exam results.</li>
	<li><b>Received your authenticated diploma.</b></li>
	<li><b>Received your authenticated TEFL certification.</b></li>
	<li><b>Received your Chinese tourist visa.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>We're predicting that you will receive your diploma, TEFL certification, and visa today. If you don't, don't worry. We have some buffer time built into the schedule.</li>
	<li>Figure out what "shí èr, shí sì, shí liù, shí bā, èr shí" (十二，十四，十六，十八，二十) mean.</li>
	<li>In Chinese, how are "twelve" and "twenty" different? How do you think you might say "thirty"?</li>
</ul>

<p>If you're interested in buying some language-learning resources, please click <a href="{{ url_for('usa_applicant.get_language_resources') }}">here</a>. (We get a small commission if you use our link.)</p>
<p>Just <b>七 (qī)</b> days until you leave for China! Getting excited?</p>

<p>Beep boop,<br/>
Rover the Robot (机器人罗孚)</p>