<p>Hi, {{ first_name }}! Welcome to Day 25.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Reviewed and uploaded your resume.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
	<li>Completed consulate-specific tasks (if applicable).</li>
	<li><b>Obtained at least two visa photos that follow the embassy's requirements.</b></li>
	<li><b>Gotten a job and signed a contract.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Congrats on your new job! Tell us a little more about it <a href="{{ url_for('usa_applicant.enter_employer_information') }}">here</a>. (This is so we have enough information to help you with the rest of the process.)</li>
	<li>Scan and upload a PDF version of your signed contract <a href="{{ url_for('usa_applicant.scan_contract') }}">here</a>. (This is so we have a paper trail if anything goes wrong or you file a report.)</li>
	<li>If you haven't received one already, request that your new Chinese employer send you a Letter of Invitation. The letter should contain the following information:<ul>
		<li>A photocopy of the inviter's Chinese ID card;</li>
		<li>Your personal information -- name, gender, date of birth, passport number, etc.;</li>
		<li>Information concerning your visit -- purpose of visit, date of arrival and departure, places to visit, relationship between you and the inviter, who will bear the cost of your accommodations in China;</li>
		<li>Inviter's personal information -- name, phone number, and address.</li></ul>
	</li>
</ul>

<p>You should have received this letter when you signed your contract. If you didn't and are requesting it now, make sure they get it to you within 24 hours. You will be sending this off tomorrow.</p>

<p>Beep boop,<br/>
Rover the Robot</p>