<p>Hi, {{ first_name }}! Welcome to Day 19.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Reviewed and uploaded your resume.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li><b>Found your college diploma.</b></li>
	<li><b>Received your FBI background check report.</b></li>
	<li><b>Received your TEFL certification.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Generate and download your Authentication Packet <a href="{{ url_for('usa_applicant.get_authentication') }}">here</a>.</li>
	<li>Attach your college diploma and TEFL certification to your Authentication Packet where instructed to.</li>
	<li>Follow the mailing instructions on Page 1 of your Authentication Packet.</li>
	<li>Locate Page 9 from your Police Clearance Packet. Send your FBI background check report to the CVSC address listed on Page 9.</li>
</ul>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities! No pressure, but we're expecting you to find a job in the next <b>6</b> days.</p>
<p>Read <a href="{{ url_for('usa_applicant.info_contract') }}">this</a> before you sign a contract.</p>

<p>Beep boop,<br/>
Rover the Robot</p>