<p>Hi, {{ first_name }}! Welcome to Day 4.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Signed up for the ITTT 120-hour online TEFL course (no tutor).</li>
	<li>Completed <i>"Introductory Unit."</i></li>
	<li>Completed <i>"Unit 1: Teachers and Learners."</i></li>
	<li>Completed <i>"Unit 2: Parts of Speech."</i></li>
	<li>Completed <i>"Unit 3: Theories, Methods, Techniques."</i></li>
	<li><b>Completed <i>"Unit 4: Present Tenses."</i></b></li>
	<li><b>Completed <i>"Unit 5: Managing Classes."</i></b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Complete <i>"Unit 6: Past Tenses."</i></li>
	<li>Complete <i>"Unit 7: Teaching New Language."</i></li>
</ul>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities!</p>
<p>Read <a href="{{ url_for(usa_applicant.info_contract) }}">this</a> before you sign a contract.</p>

<p>Beep boop,<br/>
Rover the Robot</p>