<p>Hi, {{ first_name }}! Welcome to Day 16.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Ordered your TEFL certificate from ITTT.</li>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Mailed your Police Clearance Packet to CVSC.</li>
	<li><b>Reviewed and uploaded your resume.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>The Chinese government will verify your work experience by reading letters of recommendation and reaching out to former employers if necessary.</li>
	<li>Think of former employers or coworkers that could give you a recommendation.</li>
	<li>You will need to cover your 2-year work period. (If you worked four jobs that lasted 6 months each, you need four letters of recommendation. If you worked one job for two years, you need one letter of recommendation.)</li>
	<li>When you are ready, enter your referrers' contact information <a href="{{ url_for('usa_applicant.get_letters_of_recommendation') }}">here</a>, and we will send requests out on your behalf.</li>
	<li>We are counting on your referrers sending their letters back within 14 days.</li>
</ul>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities! No pressure, but we're expecting you to find a job in the next <b>9</b> days.</p>
<p>Read <a href="{{ url_for('usa_applicant.info_contract') }}">this</a> before you sign a contract.</p>

<p>Beep boop,<br/>
Rover the Robot</p>