<p>Hi, {{ first_name }}! Welcome to Day 14.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Ordered your TEFL certificate from ITTT.</li>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li><b>Be in possession of a FD-258 fingerprint card completed by a trained technician.</b></li>  
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Generate and download your Police Clearance Packet <a href="{{ url_for('usa_applicant.get_police_clearance') }}">here</a>.</li>
	<li>Attach your FD-258 to your Police Clearance Packet where instructed to.</li>
	<li>Detach Page 9 of your Police Clearance Packet. You'll need it later.</li>
	<li>Follow the mailing instructions on Page 1 of your Packet.</li>
</ul>

<p>Don't forget to check your <a href="{{ url_for('usa_applicant.dashboard') }}">dashboard</a> for job opportunities! No pressure, but we're expecting you to find a job in the next <b>11</b> days.</p>
<p>Read <a href="{{ url_for('usa_applicant.info_contract') }}">this</a> before you sign a contract.</p>

<p>Beep boop,<br/>
Rover the Robot</p>