<p>Nǐ hǎo, {{ first_name }}! Welcome to Day 38.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li>Booked your flight to China.</li>
	<li>Received letters of recommendation.</li>
	<li>Received your authenticated police clearance.</li>
	<li>Received your medical exam results.</li>
	<li>Received your authenticated diploma.</li>
	<li>Received your authenticated TEFL certification.</li>
	<li>Received your Chinese tourist visa.</li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>This is buffer day 2/6. The world isn't perfect, and there are sometimes delays!</li>
	<li>Figure out what "shí yī, èr shí èr, sān shí sān, sì shí sì, wǔ shí wǔ, liù shí liù, qī shí qī, bā shí bā, jiǔ shí jiǔ, yī bǎi" (十一，二十二，三十三，四十四，五十五，六十六，七十七，八十八，九十九，一百) mean.</li>
	<li>You ask "duō shǎo qián?" (多少钱?). I respond "liù shí kuài" (六十块). If "kuài" (块) is the local currency, how much is it?</li>
</ul>

<p>If you're interested in buying some language-learning resources, please click <a href="{{ url_for('usa_applicant.get_language_resources') }}">here</a>. (We get a small commission if you use our link.)</p>
<p>Just <b>五 (wǔ)</b> days until you leave for China! Getting excited?</p>

<p>Beep boop,<br/>
Rover the Robot (机器人罗孚)</p>