<p>Hi, {{ first_name }}! Welcome to Day 28.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li>Sent your tourist visa application to CVSC.</li>
	<li><b>Completed your medical check.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Buy a one-way ticket to <b>{{ airport_name }}</b> (<b>{{ airport_code }}</b>) that departs on <b>{{ departure_date }}</b>.</li>
	<li>Send your travel itinerary to your future employer so they can pick you up at the airport!</li>
</ul>

<p>We recommend <a href="http://kayak.com/">Kayak</a>, but it's up to you. (We aren't getting any financial compensation for recommending them to you.)</p>
<p><b>PRO TIP:</b> Travel websites use cookies to track you. If they see that you have visited the site before, some sites inflate prices and/or make it seem like there are few seats left. To avoid this, open the booking site in incognito mode.</p>

<p>Hey! Just <b>15</b> days until you leave for China! Getting excited?</p>

<p>Beep boop,<br/>
Rover the Robot</p>