<p>Nǐ hǎo, {{ first_name }}! Welcome to Day 35.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Checked your passport and applied for a passport renewal if necessary.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Gotten a job and signed a contract.</li>
	<li>Uploaded copies of your:<ul>
		<li>Resume;</li>
		<li>Police clearance;</li>
		<li>Diploma;</li>
		<li>Contract;</li>
		<li>TEFL certification.</li></ul>
	<li>Sent your tourist visa application to CVSC.</li>
	<li>Booked your flight to China.</li>
	<li>Received letters of recommendation.</li>
	<li>Received your authenticated police clearance.</li>
	<li><b>Received your medical exam results.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Wait to receive application materials back.</li>
	<li>We're predicting that you will receive your medical exam results today. If you don't, don't worry. We have some buffer time built into the schedule.</li>
	<li>Make sure that your results have a seal on it from the doctor's office. I know it's a strange request, but it's not valid otherwise.</li>
	<li>Attach a visa picture to the medical results where it indicates to do so.</li><br>
	<li>Figure out what "shí yī, shí sān, shí wǔ, shí qī, shí jiǔ" (十一，十三，十五，十七，十九) mean.</li>
	<li>Using what you've learned so far, try to figure out how to say "twelve" and "fourteen" in Chinese.</li>
</ul>

<p>If you're interested in buying some language-learning resources, please click <a href="{{ url_for('usa_applicant.get_language_resources') }}">here</a>. (We get a small commission if you use our link.)</p>
<p>Just <b>八 (bā)</b> days until you leave for China! Getting excited?</p>

<p>Beep boop,<br/>
Rover the Robot (机器人罗孚)</p>