<p>Hi, {{ first_name }}! Welcome to Day 26.</p>

<p><b>By this point, you should have already:</b></p>
<ul>
	<li>Reviewed and uploaded your resume.</li>
	<li>Sent out requests for letters of recommendation.</li>
	<li>Sent your college diploma and TEFL certification to CVSC for authentication.</li>
	<li>Sent your FBI background check report to CVSC.</li>
	<li>Completed consulate-specific tasks (if applicable).</li>
	<li>Obtained at least two visa photos that follow the embassy's requirements.</b></li>
	<li>Gotten a job and signed a contract.</li>
	<li><b>Received a Letter of Invitation from your new Chinese employer.</b></li>
	<li><b>Told us about your new job and uploaded a copy of your contract.</b></li>
</ul>

<p><b>Here's what you need to do today:</b></p>
<ul>
	<li>Gather the following:<ul>
		<li>Your passport;</li>
		<li>A photocopy of your passport;</li>
		<li>One visa photo;</li>
		<li>Consulate-specific documents (if applicable);</li>
		<li>Letter of Invitation.</li></ul>
	</li>
	<li>Generate and download your Visa Application Packet <a href="{{ url_for('usa_applicant.get_tourist_visa') }}">here</a>.</li>
	<li>Follow the instructions on Page 1 of the Packet. Attach application materials and sign where needed.</li>
	<li>Follow the mailing instructions on Page 1 of the Packet.</li>
</ul>

<p>Beep boop,<br/>
Rover the Robot</p>