{% extends "info_base.html" %}

{% block section_head %}
<h1>Police Clearance</h1>
{% endblock %}

{% block what %}
<p>You need to get a police clearance, or a document from a law enforcement agency saying that you have no criminal record. We are going to have you get an FBI background check (see our explanation below). Your clearance must then be authenticated by the US Department of State and by the Chinese embassy.</p>
{% endblock %}

{% block why %}
<p>In the United States, the term "law enforcement agency" can refer either to the state level or the federal level. As such, you have two choices for how to obtain your police clearance. A federal-level clearance (i.e. the FBI) is universally accepted, but it is more expensive and difficult to obtain. Going to your state's bureau of investigation is easier and cheaper, particularly if you live in your state's capital city. However, unlike a federal-level clearances, state-level clearances run the risk of being denied.</p>

<p>We say this because state-level clearances are arguably a loophole in the system. One could conceivably steal a car in Washington DC, drive across the Potomac into Virginia, and apply for a police clearance there. Since the car theft occurred in DC, the Virginia Bureau of Investigation would give the all-clear because the crime was not in their records. As time passes and foreigners commit more crimes in China, this loophole is likely to be closed. As such, we require all of our applicants to get a federal-level clearance.</p>
{% endblock %}

{% block cost %}
/////////////////////////////////////////////////////////////////////////////////////
<p>Thank you for your business. By using our service, you will save <strong>$0.00</strong> while getting your FBI background check. Please find the approximate costs outlined below:</p>

<table>
	<thead>
		<tr>
			<th colspan="2"><b>CVSC -- FBI Background Check</b></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Local Fingerprinting Fee</td>
			<td>$20.00</td>
		</tr>
		<tr>
			<td>FBI Report - Government Fee</td>
			<td>$18.00</td>
		</tr>
		<tr>
			<td>FBI Report - Service Fee</td>
			<td>$99.00</td>
		</tr>
		<tr>
			<td>US Dep't of State Authentication - Government Fee</td>
			<td>$8.00</td>
		</tr>
		<tr>
			<td>US Dep't of State Authentication - Service Fee</td>
			<td>$60.00</td>
		</tr>
		<tr>
			<td>China Embassy Authentication - Government Fee</td>
			<td>$25.00</td>
		</tr>
		<tr>
			<td>China Embassy Authentication - Service Fee</td>
			<td>$99.00</td>
		</tr>
		<tr>
			<td>Shipping (2x To and 1x From DC)</td>
			<td>$105.00</td>
		</tr>
		<tr>
			<td>Total Cost</td>
			<td>$434.00</td>
		</tr>
	</tbody>
</table>
{% endblock %}

{% block next_steps %}
<ol>
	<li>Download your Police Clearance Packet here.</li>
	<li>Go to a local police station and get fingerprinted using the FD-258. There will be a sample form in your packet for your reference.</li>
	<li>Follow the mailing instructions on page 1 of your Police Clearance Packet.</li>
	<li>When the FBI sends you your report, forward it on to CVSC for authentication.</li>
{% endblock %}
