{% extends "base.html" %}
{% block content %}
<h1>Getting Your Teaching Credential</h1>
<br>
<h2>Introduction</h2>
<p>A teaching credential is a prerequisite for teaching English in China. We say this for a number of reasons. From a professional standpoint, it will help you become a better, more confident teacher. It will also make your application stand out to prospective employers, which will make you more employable. Finally, it is practically impossible to get a work visa without one.</p>

<p>You will hear three acronyms used frequently: TEFL, TESL, and TESOL. Here's what they mean:</p>
<ul>
	<li><p><strong>TEFL = Teaching English as a Foreign Language.</strong> This is generally used to refer to teaching non-native speakers in an environment that doesn't speak English. <i>(Example: Teaching English to Chinese students in China.)</i></p></li>
	<li><p><strong>TESL = Teaching English as a Second Language.</strong> This generally refers to teaching non-native speakers in an environment that does speak English. <i>(Example: Teaching English to Chinese students in the USA.)</i></p></li>
	<li><p><strong>TESOL = Teaching English to Speakers of Other Languages.</strong> This is a more modern term that encompasses TESL and TEFL. It also acknowledges that English may be a student's third, fourth, or tenth language.</p></li>
</ul>

<p>In order to qualify for a visa, you must get a 120-hour TEFL/TESOL certificate. If you do two units per day (which we recommend), you can finish the course in 11 days.</p>

<p>We assume that you have no formal background in education. If you have, say, a college degree in education, you may be overqualified for this program.</p>

<h2>Your Next Steps:</h2>
<ol>
	<li><strong>Register for a 120-hour TEFL/TESOL course. We have some suggestions <a href={{ url_for(get_teaching_credential) }}>here</a>.</strong></li>
	<li><strong>Complete your coursework, pass the course, and obtain a certificate.</strong></li>
	<li><strong>Submit your receipt <a href={{ url_for(upload_teaching_credential) }}>here</a>.</strong></li>
</ol>
{% endblock %}
