{% extends "info_base.html" %}

{% block section_name %}
<h1>Medical Check</h1>
{% endblock %}

{% block what %}
<p>You must undergo a medical check before you go to China. You can do this at any health care provider (e.g. hospital, urgent care). The results are only valid for 6 months, so plan around your anticipated departure date.</p>

<p>The test will consist of:</p>
<ul>
	<li><b>EKG:</b> Doesn't hurt. Measures your heart rate by placing diodes on your body.</li>
	<li><b>Blood Test:</b> Hurts. The doctor will draw three vials of blood from your arm.</li>
	<li><b>Chest X-Ray:</b> Doesn't hurt. Checks for tuberculosis and looks at your respiratory system.</li>
</ul>
{% endblock %}

{% block why %}
<p>It's normal for a government to ask you for a medical check if you're going to be staying there for an extended period of time. (Immigrants to the US have to do the same thing.)</p>

<p>Don't worry. Chances are you'll be fine. They are screening for contagious diseases that would endanger the general population, such as tuberculosis, HIV, and hepatitis.</p>
{% endblock %}

{% block cost %}
<h1>/////////////////////////////////////////////////////////////////////////////////////////////////////////////</h1>
<p>~$300???????? Working on gettin' you a friggin discount mang</p>
{% endblock %}

{% block next_steps %}
<ol>
	<li>//////////////////////////////////////////////////////////////////////////////////////////////</li>
	<li>Download your Medical Packet. Fill out the appropriate fields.</li>
	<li>Go to a health care provider (////////////////////////), give them the form, and ask them to fill it out. Remind your doctor that it is requesting metric units.</li>
	<li>If your doctor seems confused by the form, tell them to write "Normal" in the appropriate boxes.</li>
	<li>They will do an EKG to measure your heart rate.</li>
	<li>They will do a blood test. If you're squeamish, tell the doctor beforehand so they can have you lay down.</li>
	<li>They will do a chest x-ray to evaluate your respiratory health.</li>
	<li>It will take about a week for the results to come back. When you receive the form, make sure they have placed a stamp in the "Official Stamp" space. <i>The form is not valid otherwise.</i></li>
	<li>When you arrive in China, you will submit the original results of your medical exam. You may then required to do another medical test in a Chinese hospital, which is a lot more thorough.</li>
</ol>
{% endblock %}
