{% extends "info_base.html" %}

{% block section_head %}
<h1>Passport</h1>
{% endblock %}

{% block what %}
<p>Check your passport's expiration date. If it expires in less than 8 months, get it replaced.</p>
<p>Check how many blank visa pages you have. You need at least 2 blank visa pages. The last three pages are endorsement and amendment pages, so they cannot be used for visa stamps.</p>
{% endblock %}

{% block why %}
<p>China has the six-month rule, which means that they will not permit entry unless the passport is set to expire at least six months after the final day of travel. We say 8 months to be on the safe side. Read more about the six-month rule <a href="https://www.fastportpassport.com/blog/six-month-validity-passport-rule/">here</a> and <a href="https://thepointsguy.com/2017/08/six-month-passport-validity-rule/">here</a>.</p>
<p>You need one page in your passport for the visa. China stamps your passport every time you enter and exit the country, so you need at least one page for that too. Two pages is cutting it kind of close, so if you are in doubt, it'd probably be best to get it replaced.</p>
{% endblock %}

{% block cost %}
<p>We unfortunately do not offer discounts or reimbursement for passport replacements. CVSC offers a passport replacement service; please find their costs outlined below:</p>

<table>
	<thead>
		<tr>
			<th colspan="2"><b>CVSC -- Passport Replacement</b></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Government Fee</td>
			<td>$170.00</td>
		</tr>
		<tr>
			<td>Shipping (To and From)</td>
			<td>$70.00</td>
		<tr>
			<td>Option 1: Standard Service (8+ business days)</td>
			<td>$139.00</td>
		</tr>
		<tr>
			<td>Option 2: Priority Service (6-7 business days)</td>
			<td>$189.00</td>
		</tr>
		<tr>
			<td>Option 3: Express Service (4-5 business days)*</td>
			<td>$239.00</td>
		</tr>
		<tr>
			<td>Option 4: Rush Service (2-3 business days)*</td>
			<td>$289.00</td>
		</tr>
		<tr>
			<td>Total Cost (Standard Service)</td>
			<td>$379.00</td>
		</tr>
	</tbody>
</table>

<p>* - These services aren't for impatient people. They are for people who have a flight coming up and need their passport NOW.</p>
{% endblock %}

{% block next_steps %}
<p>If you need to replace your passport, please order directly from CVSC <a href="https://www.mychinavisa.com/passport-renewal">here</a>.</p>
{% endblock %}
